  
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  /* at least fill the parent */
  min-width: 100%;
  /* don't exceed the parent */
  max-width: 100%;
}

a,[item] {
  display: inline-block;
}
a,[item1] {
  display: inline-block;
}


/* Not needed */

body * {
  padding: 10px;
  /* border: 1px solid; */
}

div.dotted {border-style: dotted;}


div,[container] {
  border-top: red;
  border-width: 10px;
  border: aqua;
}