.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
    /* border-style: dashed !important */
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    /* border-style: dashed !important */
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
    border-style: dashed !important
  }
  .four {
    grid-column: 3;
    grid-row: 3;
    border-style: dashed !important
  }
  .five {
    grid-column: 2;
    grid-row: 4;
    border-style: dashed !important
  }
  .six {
    grid-column: 3;
    grid-row: 4;
    border-style: dashed !important
  }

div {
  border: !important;
}

div.one div.two div.three div.four div.five div.six {border-style: dashed !important;}
